#hibaMegjelenites{
    margin: 10px;
    color: red;
}

.sikerMegjelenit{
    color: green;
    margin-left: 10px;
    margin-top: 10px;
}

.form-group {
    margin: 10px;
}

.form-control {
    width: 50%;
}

.form-validate-container {
    margin-left: 10px;
}
